*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  cursor: url(https://i.imgur.com/CpdoEln.png),auto;
  font-size: 21px;
      font-weight: 400;
    font-family: system-ui;
}


/* $roboto:'Roboto';
$cursive_font: 'Satisfy';
$round: 'Varela Round';
$cta: #fe8033;
$bg: #272b34;
$light_bg: #2b3039;
$text: #2d343e;
$white: #fff; */

body{
  width: 100%;
  height:100%;
  /* position:relative; */
  font-family: "Varela Round";
  background-color: #399494;  
  transition: background-color 1s linear;


}



/* the :hover that causes the background-color to change */
body:hover {
   background-color: .5 transparent     
}