nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 7%;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    position: fixed;
    height: 36vh;
    margin-right: 0px;
    margin-left: -2px;
    
}
/* Buscar cambiar css logo? nose  */
.logo{ 
    font-size:100px;
    text-transform: uppercase;
    padding:0%;
}


ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    font-size:14px;
    margin-left:1px;
    padding:5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
}

.nav{
        /* padding-left: 150px; */
    /* padding-right: 150px; */
    background-color: #62d5b4;
    margin-left: 21vw;
    /* margin-right: -87px; */
    width: 56vw;
    border-radius: 15px;
    height: 8vh;
}