form {
    width: 126vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
    align-items: end;
    padding: 13em;
    padding-top: 1em;
    margin: 1px 1px 1px 1px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vw
}

.types{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    justify-content: space-around;
    padding: 17px;
    margin-left: 22px;
    padding-left: 400px;
    padding-right: 434px;
}

.type{
    background-color: #ebebeb;
    border-radius: 3px;
    margin: 1px 2px 1px 2px;
   
    font-size: 15px;
    padding: 1px 5px 1px 6px;
    color:gray;
    box-shadow: 1px 1px 1px;

}

.input{
    border-radius: 14px;
    border: none;
    margin:1px;
    font-size: 15px;
    width: 19vw;
}

.inputs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-left: 392px;
    padding-right: 433px;
}

.btn{
    margin-right: 530px;
    padding: 8px;
    color: #184a4a;
    border-radius: 20px;
    background-color: #d0eef2;
    box-shadow: 3px 4px #cdcdcd;
    border-color: azure;
}

label{
    color: #184a4a;
}